<!DOCTYPE html>
<html>
  <head>
    <title>Fantasy NHL</title>
    <%= Gon::Base.render_data(watch: true) %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
